.dialogs {
    width: 100%;
    /* height: 300px; */
    background-color: violet;
    display: flex;
}
.dialogs__list {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.messages__list {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}